.logo-image {
    width: 10px;
    height: 10px;
  }
  
.chatting-image {
    width: 200px;
    height: 200px;
}

.qr-image {
  width: 100px;
  height: 100px;
}

.color-image {
  width: 20px;
  height: 10px;
}